*{
    margin: 0px;
    padding: 0px;
}

:root{
    --preto-letra:#000000;
    --cor-fundo:rgb(255, 215, 104);
    --cor-cabecalho:rgb(255, 203, 61);
    --titulo-principal: 75px;
    --titulos: ;
    --texto: ; 
    --margem-principal: ;
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
    position: relative;
    top: 100%;
}

.logo{
    width: 90px;
}

.lista0{
    text-decoration: none;
    color:var(--preto-letra);
}

.lista1{
    display: inline-block;
    margin: 0 16px;
    padding: 12px 0;
    font-size: 20px;
}

.titulo-central{
    text-align: center;
    font-size: var(--titulo-principal);
}