*{
    margin: 0px;
    padding: 0px;
}

:root{
    --branco-letra:#ffffff;
    --cor-fundo:rgb(0, 0, 0);
    --cor-cabecalho:rgb(255, 203, 61);
    --titulo-principal: 80px;
    --titulos: 40px;
    --texto: 20px; 
    --margem-principal: 40px;
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 0;
    position: relative;
    top: 100%;
}

.logo{
    width: 90px;
}

.lista0{
    text-decoration: none;
    color: #000;
}

.lista1{
    display: inline-block;
    margin: 0 16px;
    padding: 12px 0;
    font-size: 20px;
    text-decoration: none;
}

.texto-lista{
    text-decoration: none;
    color: #000;
}

.botao1{
    display: flex;
    background-color: #000;
    text-align: center;
}

.botao2{
    padding: 10px, 20px;
    border: none;
    background-color: #000;
    display: flex;
}

.texto-botao{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}


.titulo-central{
    text-align: center;
    font-size: var(--titulo-principal);
}

.titulos{
    font-size: var(--titulos);
    margin: var(--margem-principal);
    text-align: center;
}

.textos{
    text-align: justify;
    margin: var(--margem-principal);
    font-size: var(--texto);
}

.polo{
    display: flex;
}

.imagem{
    margin: var(--margem-principal);
}

.imagem2{
    margin: var(--margem-principal);
    width: 45%;
    height: 45%;
}

footer{
    width: 100%;
    height: 30%;
    background-color: var(--cor-cabecalho);
    text-align: center;
}